body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242331;
    color: #DDCA7D;
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

button {
    margin: auto;
    position: absolute;
    margin: auto;
    padding: 0;
    position: absolute;
    transform: translate(40px, 100px);
    z-index: 1;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    color: #242331;
    background-color: #B88B4A;
    z-index: 1;
}

button:hover {
    color: #242331;
    background-color: #DDCA7D;
}